/* GOOGLE Fonts Imports*/
@import url(https://fonts.googleapis.com/css?family=Nokora:100,300,regular,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

body {background-color: white}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}
p {margin: 5%;}

/* Header */

.header {
    width: 100%;
    float:left;
    padding: 1% 8%;
    background-color: #f6c8d2; 
    height: 7%;
    position: fixed;
    z-index: 9;
}

.logo {
    width: 120px;
    height: 50px;
    float: left;
    border-radius: 10px 30px 20px 20px;
    background: url("../img/beca_logo_2.png") center center/150px no-repeat;
    font-size: 0px;
}

.btn-menu {
    width: 50px;
    height: 50px;
    float: right;
    text-align: center;
    color: white;
    border-radius: 56px;
    cursor: pointer;
    font-size: 150%;
    background-color: transparent;
}

.menu {
    display: none;
    width: 100%;
    height: 40%;
    box-shadow: 8px 8px 8px #f7a7b8; 
    position: fixed;
    background-color: rgb(255, 255, 255);
    color: #f7a7b8;  
    top: 0;
    left: 3%;
    border-radius: 40px 0px 40px 40px;
    z-index: 9;
}

.menu ul {
    width: 100%;
    float:  left;
    padding-top: 10%;
    text-align: center;
    font-family: sans-serif;
}

.menu li{
    padding: 3%;
    font-size: 200%
}

.menu li:hover{
    background-color: #f7a7b8;
    color: white; 
}

.btn-close {
    font-size: 250%;
    color: #f7a7b8;
    float: right;
    padding-right: 10%;
    padding-top: 5%;
    cursor: pointer;
}

/* Baixar App Section */

.baixar-app {
    position: relative;
    top: 0;
    padding-top: 15%;
    left: 0;
}

.btn-download {
    position: absolute;
    top: 60%;
    left: 1%;
    width: 50%;
}
.android {
   top: 70%;
}

/* Quem Somos Section */
.img-container {
    display: none;
}

.quem-somos {
    padding-left: 5%;
    padding-right: 10%;
    text-align: justify;
    padding-bottom: 5%;
    font-family: Source Sans Pro, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(88, 81, 81);
 }

.title {
   font-family: Nokora;
   font-size: 250%;
   padding-top: 5%;
   padding-bottom: 5%;
   text-align: center;
   color:#f7a7b8;
}

.t-white {
    color:white;
 }

 /* Como funciona Section*/
 .como-funciona{
    padding-left: 5%;
    padding-right: 10%;
    text-align: justify;
    padding-bottom: 5%;
    font-family: Source Sans Pro, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    background-color: #fab9c7;
 }

 .div-como-funciona{
    margin-top: 5%;
    text-align: center;
    padding: 5% 5% 5% 5%;
    border-radius: 15px;
    background-color: white;
    color: rgb(88, 81, 81);
 }

 .sub-title{
     font-size: 150%;
     line-height: 0.2;
     padding-top: 2%;
     padding-bottom: 1%;
     color: #ff8370cc
 }

 /* Beca Corporativo Section*/
 .beca-corporativo {
    padding-left: 5%;
    padding-right: 10%;
    text-align: justify;
    padding-bottom: 5%;
    font-family: Source Sans Pro, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(88, 81, 81);
 }

 .div-sub-como{ padding-top:5%; font-weight: bold; font-size: 125%; text-align: center;}

 .div-sub-como i { font-weight: bold; font-size: 325%; text-align: center;}

 .list{
     padding-top: 5%;
     padding-left: 5%;
     padding-right: 10%;
     padding-bottom: 5%;
     margin-top:2%;
     color: white;
     border-radius: 10px 40px 40px 30px;
     background-color: #f8abbc !important;
 }

/*Botão Whatsapp*/

 .wpp-button {
    position:fixed;
    width:60px;
    height:60px;
    bottom:10px;
    right:15px;
    background-color:#f6c8d2;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:50px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
}